body {
  text-align: center;
  line-height: 1.5;
  margin-top: 5%;
  background-image: url("../images/bg-tree.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

h5 {
  margin: 3%;
}

h1 {
  margin: 3%;
  color: red;
}

.col-tran {
  height: 1rem;
}

/* .container-fluid {
   padding: 2% 0;
} */
.family-image {
  width: 125px;
  border-radius: 100%;
  border-style: outset;
  margin: 5%
}

.modal-image {
  width: 200px;
  border-radius: 100%;
  border-style: outset;
  margin: 5%
}

.tran-image {
  width: 100%;
  height: 5rem;
}

.family-image:hover {
  width: 135px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.boy-bg {
  border-color: cyan;
}

.girl-bg {
  border-color: pink;
}

.boy-modal {
  background-color: cyan;
  color: blue;
}

.girl-modal {
  background-color: pink;
  color: #ff6701;
}

.modal-body {
  background-color: white;
}
