body {
  text-align: center;
  line-height: 1.5;
  margin-top: 5%;
  font-family: 'Montserrat';
}

h5 {
  margin: 2%
}

h1 {
  margin: 3%;
  color: red;
  font-family: 'Sacramento';
}

.col-tran {
  height: 1rem;
}

/* .container-fluid {
   padding: 2% 0;
} */
.family-image {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-style: outset;
}

img:hover {
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-style: outset;
}

.tran-image {
  width: 100%;
  height: 5rem;
}

.boy-bg {
  border-color: cyan;
}

.girl-bg {
  border-color: pink;
}

.boy-modal {
  background-color: cyan;
  color: blue;
}

.girl-modal {
  background-color: pink;
  color: #ff6701;
}

.common-modal {
  background-color: gold;
  color: grey;
}

.modal-body {
  background-color: white;
}

hr {
  border-top: 10px dotted red;
  background-color: white;
  width: 10%;
  margin: 50px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2rem;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2rem;
  color: red;
}
